@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">WE DO THIS 'ISH</h1>
    <p><a href="https://docs.microsoft.com/aspnet/core">LFG</a>!!!!</p>
</div>
